{% extends 'flatpages/default.html' %}
{% load custom_filters %}



{% block title %}
    {{ news.title }}
{% endblock title %}
{% block content %}
    <h3>Лента новостей</h3>
    Всего публикаций: {{news|length}}
<br>
    <h4> {{ time_now|date:'d M Y' }} </h4>
{% if news %}
    <table class = 'table'>
        <tr>
            <th scope="col">
                Заголовок
            </th>
            <th scope="col">
                Дата публикации
            </th>
            <th scope="col">
                Текст новости
            </th>
        </tr>

  {% for n in news %}
        <tr>
            <td>
                <h6>{{ n.title|Censor }}</h6>
            </td>
            <td>
                {{n.dateCreation|date:'M d Y'}}
            </td>
            <td>
                {{ n.text|truncatechars:50|Censor }}
                <a href=" ">Подробнее</a>
            </td>
        </tr>


{% endfor %}
    </table>
    {% else %}
     новостей нет
{% endif %}
{% endblock content %}
